<meta charset="UTF-8">
<title>Personas CRUD</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../js/borrarDato.js"></script>
<script src="../js/grabarDato.js"></script>
<script src="../js/mostrarDatos.js"></script>
<script src="../js/script.js"></script>
<style>
    body { padding-top:50px; }
</style>